node_modules/
dist/
release/
out/

*.exe
*.msi
*.msix
*.appx
*.appinstaller
*.dmg
*.pkg
*.zip
*.7z
*.blockmap
*.AppImage
*.deb
*.rpm
*.snap
*.nupkg

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
Thumbs.db
Desktop.ini
